@page
@model IndexModel
@{
    ViewData["Title"] = "Desafio Técnico";
}

<div class="text-center">
    <h1 class="display-4">Faça o Upload do vídeo no botão abaixo</h1>
    <div>
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column">
            <input class="p-2" type="file" name="videoFile" />
            <button type="submit">Enviar Vídeo</button>
        </form>

       
    </div>
</div>
