@page
@model IndexModel
<form method="post" enctype="multipart/form-data">
    <input type="file" name="videoFile" accept="video/*" />
    <button type="submit">Enviar Vídeo</button>
</form>
<div id="result"></div>
<<<<<<< HEAD
<script src="/js/site.js"></script>
=======
<script src="~/js/site.js">
</script>
>>>>>>> 75e797b7860f7811ba0df8b97275614c2674eaa7
