@page
@model IndexModel
<form method="post" enctype="multipart/form-data">
    <input type="file" name="videoFile" accept="video/*" />
    <button type="submit">Enviar Vídeo</button>
</form>
<pre id="jsonDisplay"></pre>
<script src="/js/site.js"></script>
