@page
@model UploadVideoModel
<form method="post" enctype="multipart/form-data">
    <input type="file" name="videoFile" />
    <button type="submit">Enviar Vídeo</button>
</form>
<div id="result"></div>

@section scripts {
    <script>
        $('form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/UploadVideo?handler=ProcessVideo',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#result').html('Informações do vídeo: ' + JSON.stringify(data));
                }
            });
        });
    </script>
}
